.root{
    height: '100vh';
  }
.image{
    background-image: 'url(https://source.unsplash.com/random)';
    background-repeat: 'no-repeat';
    background-size: 'cover';
    background-position: 'center';
  }
.paper{
    margin: 8;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}
.avatar{
    margin: 1;
    background-color: whitesmoke;
}
.form{
    width: '100%';
    margin-top: 1;
}
.submit{
    margin: 3;
}



